@import "tailwindcss";

/* outfit-300 - latin */
@font-face {
    font-display: block;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/outfit-v15-latin-300.woff2") format("woff2");
}
/* outfit-regular - latin */
@font-face {
    font-display: block;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/outfit-v15-latin-regular.woff2") format("woff2");
}
/* outfit-500 - latin */
@font-face {
    font-display: block;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/outfit-v15-latin-500.woff2") format("woff2");
}
/* outfit-600 - latin */
@font-face {
    font-display: block;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/outfit-v15-latin-600.woff2") format("woff2");
}
/* outfit-700 - latin */
@font-face {
    font-display: block;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/outfit-v15-latin-700.woff2") format("woff2");
}
/* outfit-800 - latin */
@font-face {
    font-display: block;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/outfit-v15-latin-800.woff2") format("woff2");
}
/* outfit-900 - latin */
@font-face {
    font-display: block;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/outfit-v15-latin-900.woff2") format("woff2");
}

@theme {
    --font-outfit: "Outfit", sans-serif;
}
